.EditAddForm {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
}

.btn {
    border-radius: 5px;
    border: 1px solid grey;
    background: blue;
    color: white;
    padding: 8px;
    margin-top: 10px;
}